.demo-inline {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  color: #626262;
  font-family: Lato;
  color: #626262;
  line-height: 1.3;
  font-size: 14px;
  background-color: #ffffff;
  text-align: left;
  vertical-align: top;
}
.demo-inline p {
  margin: 0 0;
}
.demo-inline h1 {
  color: #1976d2;
  font-family: Aileron;
  font-size: 2em;
  font-weight: bold;
  margin: 0 0;
}
.demo-inline h2 {
  color: #1976d2;
  font-family: Aileron;
  font-size: 2em;
  font-weight: bold;
}
.demo-inline h3 {
  font-family: Aileron;
  font-size: 1.5em;
  color: #403f42;
  font-weight: bold;
  color: inherit;
}
.demo-inline h2,
.demo-inline h3 {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 40px;
}
.demo-inline ul,
.demo-inline ol {
  padding-left: 20px;
}
.demo-inline ul {
  list-style: disc;
}
.demo-inline ol {
  list-style: decimal;
}
.demo-inline a {
  text-decoration: underline;
}
.demo-inline textarea {
  display: none;
}
.demo-inline .demo-inline-content {
  padding: 20px;
  text-align: left;
  vertical-align: top;
}
.demo-inline .demo-inline-content h3 {
  color: #626262;
}
.demo-inline *[contentEditable="true"]:focus,
.demo-inline *[contentEditable="true"]:hover {
  outline: 2px solid #2276d2;
}

table {
  width: 100%;
}

.btn-parent {
  padding-top: 2vw;
  padding-bottom: 4vw;
}

.custom-button {
  width: 0;
  height: 0;
  visibility: hidden;
}

.browse-button {
  background-color: #2962ff ;
  color: #fff;
  display: block;
  /*padding: 1vh 1vw;*/
  border-radius: 0.5vw;
}
.browse-button:active {
  background-color: #0d47a1;
  color: #fff;
  border-radius: 0.5vw;
}

.main-row {
  padding: 1vw 2vh;
}

.main-height {
  min-height: 50vh;
}

.disable-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;"
}

#progress p
{
	display: block;
	width: 240px;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
}
#progress p.success
{
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failed
{
	background: #c00 none 0 0 no-repeat;
}

.non-modal{
    top:10%;
    left:50%;
    bottom:auto;
    right:auto;
}
