<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blind Kiosk</title>
    <script src="../static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/socket.io.slim.js"></script>
    <script src="../static/js/tinymce/tinymce.min.js"></script>
    <script src="../static/js/index.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/status.css">
    {# Icon #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
    {# getBootstrap theme #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript">
        var jsonObj = JSON.parse({{ data | tojson | safe}});
    </script>
</head>
<body class="m-4">
<div class="card tab-content text-center">
    <div class="card-header text-white bg-success mb-3 d-flex">
        <h2 class="flex-grow-1 mr-auto px-auto"> Blind Kiosk Admin </h2>
        <a href="/logout" class="text-white align-self-center"><i class="text-white fas fa-sign-out-alt text-white"></i> Sign Out</a>
    </div>
    <div class="row align-items-center justify-content-end btn-parent">
        <button id="uploadButton" data-toggle="modal" data-target="#addModalCenter" type="button" class="btn btn-primary btn-lg col-1 mx-2" onclick="openModal()">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
        </button>
        <button id="settingButton" data-toggle="modal" data-target="#settingModal" type="button" class="btn btn-info btn-lg mr-xl-4" onclick="openSettingModal()">
            <i class="fas fa-cog"></i>&nbspSettings
        </button>
    </div>

    <table class="table table-bordered table-hover display" cellspacing="0" id="data_table">
        <thead>
        <tr class="text-white" style="background-color: #4caf50">
            <th scope="col" style="width: 2%">No</th>
            <th scope="col" style="width: 10%">Type</th>
            <th scope="col" style="width: 20%">File Name</th>
{#            <th scope="col" style="width: 43%">Description</th>#}
            <th scope="col" style="width: 35vw">Description</th>
            <th scope="col" style="width: 5%">Duration(s)</th>
            <th scope="col" style="width: 10%">Expire Date</th>
            <th scope="col" style="width: 10%">Action</th>
        </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>
</div>

<!-- Uploading Modal -->
<div class="modal fade non-modal" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 40vw">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Uploading</h5>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div id="progressBar" class="progress-bar progress-bar-striped active progress-bar-animated" role="progressbar"
                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                        0%
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Remove Data Modal -->
<div class="modal fade" id="removeModal" tabindex="2" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-danger">
                <h5 class="modal-title" id="exampleModalLabel">Remove !</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to permanently remove this content?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary col-3" data-dismiss="modal"> No </button>
                <button type="button" class="btn btn-primary col-3" onclick="removeFunc(dataIndex)"> Yes </button>
            </div>
        </div>
    </div>
</div>

<!-- Add Data Modal -->
<div class="modal fade" id="addModalCenter" tabindex="1" role="dialog" aria-labelledby="addModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h4 class="modal-title text-white font-weight-bold" id="modalLongTitle">Add Content</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card  main-height">
                    <h6 class="card-header" style="background-color: #c8e6c9  ">
                        <div class="h-100">
                            <div class="h-100 d-inline">Status :&nbsp</div>
                            <div class="h-100 d-inline custom-control custom-switch py-sm-2">
                                <input type="checkbox" class="custom-control-input m-xl-2" id="statusSwitch" onchange="changeStatus(this)" checked>
                                <label id="statusLabel" class="custom-control-label mx-1" for="statusSwitch">Enable</label>
                            </div>
                        </div>
                    </h6>
                    <div>&nbsp</div>
                    <h6 class="card-header " style="background-color: #c8e6c9">Content Type</h6>
                    <div class="p-3">
                        <select aria-label="" class="p-1 form-control" id="typeSelect" onchange="typeChange(this)">
                            <option selected disabled>Select Type</option>
                            <option>Video</option>
                            <option>Image</option>
                            <option>Text</option>
                        </select>
                    </div>
                    <h6 class="card-header" style="background-color: #c8e6c9">File</h6>
                    <div class="input-group p-2">
                        <input class="custom-button" id="files" type="file" onchange="readURL(this)"/>
                        <input id="label_file" type="text" class="form-control h-100" placeholder="No File Chosen" aria-label="FileBrowse" aria-describedby="basic-addon2" readonly>

                        <div class="input-group-append ">
                            <label id="fileBtnLabel" for="files" class="h-100 d-inline-block browse-button bd-highlight disabled" >
                                     <span class="btn-primary input-group-text h-100 w-100  bg-primary" id="basic-addon2" style="color: white">
                                            <i class="fas fa-folder-open" style="color: white"></i>
                                         &nbspBrowse
                                     </span>
                            </label>
                        </div>
                    </div>
                    <div class="p-2 input-group">
                        <input id="youtubeUrl" type="text" class="form-control" placeholder="Input YouTube Url" aria-label="Username" aria-describedby="basic-addon1" disabled>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" style="color: orangered;">
                                <i class="fab fa-youtube" color></i>
                            </span>
                        </div>
                    </div>
                    <h6 class="card-header" style="background-color: #c8e6c9  ">
                        <div class="h-100">
                            <div class="h-100 d-inline">Duration(Second) :&nbsp</div>
                            <div class="h-100 d-inline">
                                <label>
                                    <input id="addDuration" type="number" data-onstyle="success" min="0">
                                </label>
                            </div>
                        </div>
                    </h6>
                    <h6 class="card-header" style="background-color: #c8e6c9  ">
                        <div class="h-100">
                            <div class="h-100 d-inline">Title :&nbsp</div>
                            <div class="h-100 d-inline">
                                <label>
                                    <input id="description_title" data-onstyle="success">
                                </label>
                            </div>
                        </div>
                    </h6>
                    <div>&nbsp</div>
                    <h6 class="card-header" style="background-color: #c8e6c9  ">Description</h6>
                    <div id="text_tiny"></div>
                    <h6 class="card-header" style="background-color: #c8e6c9  ">Expire Date</h6>
                    <div class="row">
                        <div class="col-12">
                            <div class="py-2 pl-4 input-group row">
                                <label for="startDate" class="h-100">
                            <span class="input-group-text h-100" id="basic-addon3" style="color: orangered;" onclick="focusDate()">
                                <i class="fa fa-calendar" style="color: dodgerblue"></i>
                            </span>
                                </label>
                                <input type="date" class="h-100" id="startDate">
                                <div>&nbsp>>&nbsp</div>
                                <label for="expireDate"><input type="date" class="h-100" id="expireDate"></label>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info col-3" onclick="clearAddDialogContent()">Clear</button>
                <button id="modalSubmitBtn" type="button" class="btn btn-success col-3" onclick="addRowData()"> Add </button>
            </div>
        </div>
    </div>
</div>

<!-- Settings Modal -->
<div class="modal fade" id="settingModal" tabindex="3" role="dialog" aria-labelledby="settingDialogCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h4 class="modal-title text-white font-weight-bold" id="exampleModalLongTitle">Settings</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="font-size: 2vh">
                <div class="row p-2">
                    <label class="col-6" style="text-align: right" >Background Color :</label>
                    <label>
                        <input id="backColorPicker" type="color" name="favcolor" value="#000000">
                    </label>
                </div>
                <div class="row p-2 align-items-center">
                    <label class="col-6" style="text-align: right" >Content Background :</label>
                    <label>
                        <input id="contentBackColorPicker" type="color" name="favcolor" value="#000000">
                    </label>
                        <input class="custom-button" id="itemBackImgInput" type="file"/>
                        <div class="input-group-append col-3">
                            <label id="fileBtnLabel" for="itemBackImgInput" class="h-100 d-inline-block browse-button bd-highlight disabled" >
                                     <span class="btn-primary input-group-text p-xl-1 h-100 w-100  bg-primary" id="basic-addon2" style="color: white">
                                            <i class="fas fa-folder-open" style="color: white"></i>
                                         &nbspImage
                                     </span>
                            </label>
                        </div>
                </div>


                <hr>
                <div class="row p-2">
                    <label class="col-6" style="text-align: right">Show Splash Screen :</label>
                    <div>Off&nbsp&nbsp</div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input form-control-lg" id="splashToggle">
                        <label class="custom-control-label" for="splashToggle">On</label>
                    </div>
                </div>

                <div class="row p-2">
                    <label for="audioOutputType" style="text-align: right" class="col-6">Audio Output :</label>
                    <select class="col-4 custom-select " id="audioOutputType">
                        <option selected disabled>Select Audio Output</option>
                        <option>HDMI</option>
                        <option>ANALOG</option>
                    </select>
                </div>
                <div>&nbsp</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
                <button id="settingSaveBtn" type="button" class="btn btn-success col-3" onclick="saveSettings()">Save Settings</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
